autopep8
bandit
black
celery
coverage
Django
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-health-check
django-leaflet
django-nose
django-rest-swagger
django-rosetta
djangorestframework
djangorestframework-gis
djangorestframework-simplejwt
drf-friendly-errors
factory-boy
flake8
geoalchemy2
geopandas
gunicorn
kombu
pandas
pre-commit
psutil
psycopg2-binary
# para que pygraphviz funcione es necesario instalar
# algunas dependencias
# este paquete tiene problemas de compilación en Windows y es necesario
# descargar el archivo ya compilado .whl
# apt-get update && apt-get install -y graphviz libgraphviz-dev pkg-config
pygraphviz
pylint
pylint-django
pyshp
radon
redis
rednose
Shapely
Sphinx
sphinx-rtd-theme
Unidecode
